.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.row {
  display: flex;
}

.card-1 {
  img {
    padding: 5px;
    width: $base-size * 25;
    height: $base-size * 10;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    z-index: 0;
  }

  p {
    position: absolute;
    top: 40%;
    left: 30%;
    justify-content: center;

    align-items: center;
    font-size: 24px;
    font-weight: $font-bold;
    font-family: $font-header;
    color: $color-light;
    text-transform: uppercase;
    transition: $transition;
    z-index: 1;
  }
}

.card-2 {
  img {
    padding: 5px;
    width: $base-size * 25;
    height: $base-size * 10;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
    z-index: 0;
  }

  p {
    position: absolute;
    top: 37%;
    left: 56%;
    justify-content: center;

    align-items: center;

    font-size: 24px;
    font-weight: $font-bold;
    font-family: $font-header;
    color: $color-light;
    text-transform: uppercase;
    transition: $transition;
    z-index: 1;
  }
}

.card-1,
.card-2 {
  p:hover {
    transform: translateY(-20px);
  }
}

.opening-hours {
  background-color: $color-main;
  border-radius: 5px;
  width: auto;
  height: $base-size * 10;
  color: $color-light;
  text-transform: uppercase;
  text-align: center;
  position: relative;

  h2 {
    margin: 0;
    padding-top: 20px;
  }
}

.main-carousel {
  margin-top: $base-size * 9;
  height: $base-size * 16;
}

.box {
  display: flex;
  justify-content: space-around;
}

.box-description {
  flex: 0 0 66%;
  padding-left: $base-size * 2;
}

.box-image img {
  flex: 0 0 33%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.gallery {
  margin-top: $base-size * 9;
}
